*{font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    background-color: rgb(234, 234, 234);
}

header{
    font-size: 20px;
    width: 100%;
    padding: 2rem 9%;
    height: 80px;
    top: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Login {
    color: aliceblue;
    font-size: 1020;
    padding: 5px;
    margin: 0;
    border-color: black;
    border-radius: 10%;
    border-style: solid;
    background-color: rgb(17, 17, 31);
}

.LOGO {
    width: 30px;
    font-size: 35px;
}

.busca {
    position: relative; top: 10px; left: 30px;
    background-color: rgb(170, 170, 170);
    width: 95%;
    height: 95px;
    padding: 24px;
    vertical-align: middle;
    border: 1px rgb(17, 17, 31);
    border-style: solid;
    border-radius: 60px;
    z-index: 2;
}

#Barra_de_busca {
    border: 1px rgb(32, 34, 40);
    height: 45px;
    width: 45%;
    float: left;
    border-style: solid;
    font-size: 20px;
    background-color: white;
    padding-left: 41px;
}

#LOCALIZAÇÃO {
    border: 1px rgb(32, 34, 40);
    height: 45px;
    width: 45%;
    float: left;
    border-style: solid;
    border-left: 0;
    font-size: 20px;
    background-color: white;
    padding-left: 41px;
}

.quadrado_pesquisa {
float: left;
height: 45px;
width: 5%;
background-color:  rgb(170, 170, 170);
}

.Ícone_lupa {
    height: 100%;
    width: 100%;
    background-color: rgb(203, 203, 203);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-left: 10px;
}

.Ícone_Pesquisa {
    background-color: rgb(203, 203, 203);
}

::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    color: rgb(119, 117, 117);
    font-size: 18px;
}

.Tela_de_Seleção {
    position: relative; top: 90px; left: -15px;
    width: 100%;
    height: 550px;
    border: 1px rgb(17, 17, 31);
}

.Bloco_Maior {
    position: absolute;
    border: 1px rgb(32, 34, 40);
    width: 85%;
    float: left;
    display: flex;
    column-gap: 80px;
    row-gap: 40px;
    flex-flow: row wrap;
    border-style: solid;
    font-size: 20px;
    background-color: rgb(170, 170, 170);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    min-height: 550px;
    padding: 20px;
}

.ITEM {
    display: flex;
    text-align: center;
    height: 200px;
    flex-direction: column;
    width: 22%;
    background-color:  rgb(119, 117, 117);
    min-width: 180px;
    min-height: 180px;
}

.Ícone_Seleção {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: rgb(203, 203, 203);
    border-style: solid;
    margin-bottom: 5px;
}

.Texto_Descritivo {
    width: 100%;
    text-decoration: underline;
    background-color: rgb(170, 170, 170);
}

.Ícone {
    height: 100%;
    width: 100%;
    background-color: rgb(170, 170, 170);
    display: flex;
    justify-content: center;
    min-height: 100px;
    min-width: 100px;

}

.Bloco_Menor {
    position: relative; top: -45px;left: 30px;
    border: 1px rgb(32, 34, 40);
    width: 16%;
    float: right;
    display: flex;
    column-gap: 80px;
    flex-flow: row wrap;
    border-style: solid;
    font-size: 20px;
    background-color: rgb(170, 170, 170);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 550px;
}

.icone_1 {
    background-color: rgb(170, 170, 170);
    height: 100%;
}

.DESTAQUE {
    display: flex;
    text-align: center;
    height: 33%;
    flex-direction: column;
    background-color:  rgb(119, 117, 117);
}

.DESTAQUE_CAIXA {
    background-color: rgb(203, 203, 203);
    border-style: solid;
    margin-bottom: 5px;
    height: 100px;
    row-gap: 80px;
}

@media (max-width:970px)
{
.busca {background-color: black;}
.Bloco_Menor {display: none;}
.Bloco_Maior {position: absolute; left: 50px;}
    
}